# Entornos virtuales
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos/metaflow
.metaflow/
*.log
*.sqlite
*.db

# Datos sensibles o resultados pesados
output/
logs/
data/

# Archivos de Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
